[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/plugins/start/vim-bufferline"]
	path = pack/plugins/start/vim-bufferline
	url = https://github.com/bling/vim-bufferline
[submodule "pack/plugins/start/vim-signify"]
	path = pack/plugins/start/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "pack/plugins/start/syntastic"]
	path = pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "pack/plugins/start/vim-eunuch"]
	path = pack/plugins/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "pack/plugins/start/neoinclude.vim"]
	path = pack/plugins/start/neoinclude.vim
	url = https://github.com/Shougo/neoinclude.vim
[submodule "pack/plugins/start/vim-rooter"]
	path = pack/plugins/start/vim-rooter
	url = https://github.com/airblade/vim-rooter
[submodule "pack/plugins/start/tagbar"]
	path = pack/plugins/start/tagbar
	url = https://github.com/preservim/tagbar
[submodule "pack/plugins/start/vim-virtualenv"]
	path = pack/plugins/start/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv
[submodule "pack/plugins/start/tmuxline.vim"]
	path = pack/plugins/start/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim
[submodule "pack/plugins/start/vim-dispatch"]
	path = pack/plugins/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
