[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/plugins/start/vim-bufferline"]
	path = pack/plugins/start/vim-bufferline
	url = https://github.com/bling/vim-bufferline
[submodule "pack/plugins/start/vim-signify"]
	path = pack/plugins/start/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "pack/plugins/start/syntastic"]
	path = pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "pack/plugins/start/vim-eunuch"]
	path = pack/plugins/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "pack/plugins/start/neoinclude.vim"]
	path = pack/plugins/start/neoinclude.vim
	url = https://github.com/Shougo/neoinclude.vim
[submodule "pack/plugins/start/vim-rooter"]
	path = pack/plugins/start/vim-rooter
	url = https://github.com/airblade/vim-rooter
[submodule "pack/plugins/start/tagbar"]
	path = pack/plugins/start/tagbar
	url = https://github.com/preservim/tagbar
[submodule "pack/plugins/start/vim-virtualenv"]
	path = pack/plugins/start/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv
[submodule "pack/plugins/start/tmuxline.vim"]
	path = pack/plugins/start/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim
[submodule "pack/plugins/start/vim-dispatch"]
	path = pack/plugins/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/plugins/start/matchit"]
	path = pack/plugins/start/matchit
	url = https://github.com/chrisbra/matchit
[submodule "pack/plugins/start/vim-sensible"]
	path = pack/plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "pack/plugins/start/vim-floaterm"]
	path = pack/plugins/start/vim-floaterm
	url = https://github.com/voldikss/vim-floaterm
[submodule "pack/plugins/start/fugitive-gitlab.vim"]
	path = pack/plugins/start/fugitive-gitlab.vim
	url = https://github.com/tpope/fugitive-gitlab.vim
[submodule "pack/plugins/start/vim-sleuth"]
	path = pack/plugins/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "pack/plugins/start/YouCompleteMe"]
	path = pack/plugins/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
[submodule "pack/plugins/start/indentLine"]
	path = pack/plugins/start/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "pack/plugins/start/ansible-vim"]
	path = pack/plugins/start/ansible-vim
	url = https://github.com/pearofducks/ansible-vim
[submodule "pack/plugins/start/Dockerfile.vim"]
	path = pack/plugins/start/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim
[submodule "pack/plugins/start/undotree"]
	path = pack/plugins/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "pack/plugins/start/vdebug"]
	path = pack/plugins/start/vdebug
	url = https://github.com/vim-vdebug/vdebug
[submodule "pack/plugins/start/bufexplorer"]
	path = pack/plugins/start/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer
[submodule "pack/plugins/start/Vim-Jinja2-Syntax"]
	path = pack/plugins/start/Vim-Jinja2-Syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax
[submodule "pack/plugins/start/salt-vim"]
	path = pack/plugins/start/salt-vim
	url = https://github.com/saltstack/salt-vim
[submodule "pack/plugins/start/vim-snippets"]
	path = pack/plugins/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "pack/plugins/start/ultisnips"]
	path = pack/plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "pack/plugins/start/ctrlp.vim"]
	path = pack/plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
